{% extends "base.html" %}

{% block content %}
    <div id="controlPanel" style="animation-delay: 0.3s;">
        {% include 'components/confidence_control.html' %}

        <div class="grid md:grid-cols-2 gap-6 mb-8">
            {% include 'components/image_upload.html' %}
            {% include 'components/video_upload.html' %}
        </div>

        {% include 'components/youtube_upload.html' %}
    </div>

    <div id="detection" style="animation-delay: 0.3s;">
        {% include 'components/detection_preview.html' %}
    </div>
{% endblock %}
